@charset "utf-8";

:root {
  --vertical-spacing: 4rem;
  --border-radius: 7px;
  --element-paddings: 1.6rem;
  --red: #C82A3C;
  --black: #000;
  --white: #fff;
  --text-vertical-spacing: 1.5rem;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom right, #C82A3C, #000);
  color: var(--white);
}

.main-div {
  flex-direction: column;
  position: relative;
}

.site-title {
  line-height: .8;
  font-size: 4rem;
  letter-spacing: 1px;
}

.search {
  width: 45rem;
  height: 100%;
  padding: 0 var(--element-paddings);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius); 
}
/* search button */
button[type="submit"] {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding: 0 var(--element-paddings);
  color: var(--white);
  background-color: var(--red);
  .fa-magnifying-glass {
    font-size: 2.1rem;
  }
}

.search-container {
  position: relative;
  margin: var(--vertical-spacing) 0;
}

.search-container form {
  width: 100%;
  height: 5rem;
}

.dropdown-menu {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: white;
  color: black;
  top: 100%;
  left: 0;
}

.movie-container {
  display: flex;
  justify-content: center;
  /* This keeps elements elements from pushing each other. This makes sure the movie container takes up space even when it's not visibile on the page. */
  min-height: 300px; 
}

.movie-info {
  display: flex;
  align-items: start;
  gap: 20px;
  width: min(100%, 90rem);

  img {
    height: 300px;
    width: auto;
    border-radius: var(--border-radius);
  }

  div {
    h2 {
      font-size: 2.7rem;
      line-height: .8;
      margin-bottom: var(--text-vertical-spacing);
    }

    p {
      margin-bottom: var(--text-vertical-spacing);
    }

    ul {
      display: flex;
      gap: 10px;
    }
  }
}



