@charset "utf-8";

:root {
  --vertical-spacing: 4rem;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(0, 26, 70);
  color: rgb(221, 221, 221);
}

.main-div {
  flex-direction: column;
  position: relative;
}

.site-title {
  line-height: .8;
}

.search-container {
  position: relative;
  margin: var(--vertical-spacing) 0;
}

.search-container form {
  width: 100%;
}

.dropdown-menu {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: white;
  color: black;
  top: 100%;
  left: 0;
}

.movie-container {
  display: flex;
  justify-content: center;
  /* This keeps elements elements from pushing each other. This makes sure the movie container takes up space even when it's not visibile on the page. */
  min-height: 300px; 
}

.movie-info {
  display: flex;
  align-items: start;
  gap: 20px;
  /* justify-content: space-between; */
  width: min(100%, 90rem);
}

.movie-info img {
  height: 300px;
  width: auto;
}

.movie-info ul {
  display: flex;
  gap: 10px;
}